################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EventsAndDelegates/obj
/EventsAndDelegates/bin/Debug/netcoreapp2.2
/.vs/ProjectSettings.json
/.vs
