################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EventsAndDelegates/obj
/EventsAndDelegates/bin/Debug
/.vs/ProjectSettings.json
/.vs
/ConceptDemo.Contracts/obj
/ConceptDemo.UI/obj
/Fundamentals/obj
/ConceptDemo.Contracts/bin/Debug
/ConceptDemo.UI/bin/Debug
/Fundamentals/bin/Debug
